@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

body {
    font-family: Lora, serif;
    background: linear-gradient(90deg, #46963b 0%, #e5f6e7 100%);
}

.navbar-brand img {
    width: 60px;
}

.sidebar {
    background: linear-gradient(270deg, #8bf87f 0%, #e5f6e7 100%);
}

.btn-primary {
    background-color: #46963b;
}

.slide-text {
    margin: auto auto;
}

footer {
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
}

.footer-text {
    margin: auto auto;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}